{
  "provider": {
    "lemonade": {
      "models": {
        "user.gemma-4-31b-it": {
          "name": "unsloth/gemma-4-31B-it-GGUF:Q8_K_XL",
          "limit": {
            "context": 262144,
            "output": 4096
          }
        }
      },
      "options": {
        "apiKey": "PLACEHOLDER",
        "baseURL": "http://localhost:13305/v1"
      }
    }
  },
  "model": "lemonade/user.gemma-4-31b-it"
}
